:root {
  /* Colors */
  --blue: hsl(249, 99%, 64%);
  --purple: hsl(278, 94%, 30%);
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  /* Gap */
  --gap-0: 0px;
  --gap-1: 1px;
  --gap-1_25: 0.125rem;
  --gap-2_5: 0.25rem;
  --gap-3_75: 0.375rem;
  --gap-5: 0.5rem;
  --gap-6_25: 0.625rem;
  --gap-7_5: 0.75rem;
  --gap-8_75: 0.875rem;
  --gap-10: 1rem;
  --gap-12_5: 1.25rem;
  --gap-15: 1.5rem;
  --gap-17_5: 1.75rem;
  --gap-20: 2rem;
  --gap-22_5: 2.25rem;
  --gap-27_5: 2.75rem;
  --gap-30: 3rem;
  --gap-35: 3.5rem;
  --gap-40: 4rem;
  --gap-50: 5rem;
  --gap-60: 6rem;
  --gap-70: 7rem;
  --gap-80: 8rem;
  --gap-90: 9rem;
  --gap-100: 10rem;
  --gap-110: 11rem;
  --gap-120: 12rem;
  --gap-130: 13rem;
  --gap-140: 14rem;
  --gap-150: 15rem;
  --gap-160: 16rem;
  --gap-180: 18rem;
  --gap-200: 20rem;
  --gap-240: 24rem;

  /* Display */
  --hidden: none;
  --block: block;
  --inline: inline;
  --inline-block: inline-block;
  --flex: flex;
  --inline-flex: inline-flex;
  --grid: grid;
  --inline-grid: inline-grid;

  /* Radius */
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 6px;
  --radius-4: 8px;
  --radius-5: 10px;
  --radius-6: 12px;
  --radius-7: 16px;
  --radius-8: 20px;
  --radius-9: 24px;
  --radius-10: 26px;
  --radius-11: 28px;
  --radius-12: 30px;
  --radius-13: 32px;
  --radius-14: 34px;
  --radius-15: 36px;
  --radius-16: 38px;
  --radius-17: 40px;

  /* Typography */
  --ff-space-grotesk-sans-serif: var(--ff-space-grotesk), sans-serif;
  --ff-space-grotesk: "Space Grotesk";
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --font-style: normal;
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;
  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;
  --font-size-0: clamp(0.5625rem, 0.5031rem + 0.4132vi, 0.875rem);
  --font-size-1: clamp(0.6328rem, 0.566rem + 0.4649vi, 0.9844rem);
  --font-size-2: clamp(0.7119rem, 0.6367rem + 0.523vi, 1.1074rem);
  --font-size-3: clamp(0.8009rem, 0.7163rem + 0.5884vi, 1.2458rem);
  --font-size-4: clamp(0.901rem, 0.8059rem + 0.6619vi, 1.4016rem);
  --font-size-5: clamp(1.0136rem, 0.9066rem + 0.7446vi, 1.5768rem);
  --font-size-6: clamp(1.1403rem, 1.0199rem + 0.8377vi, 1.7739rem);

  /* Spacing */
  --space-3xs: clamp(0.125rem, 0.1012rem + 0.1653vi, 0.25rem);
  --space-2xs: clamp(0.3125rem, 0.2887rem + 0.1653vi, 0.4375rem);
  --space-xs: clamp(0.4375rem, 0.39rem + 0.3306vi, 0.6875rem);
  --space-s: clamp(0.5625rem, 0.5031rem + 0.4132vi, 0.875rem);
  --space-m: clamp(0.875rem, 0.7918rem + 0.5785vi, 1.3125rem);
  --space-l: clamp(1.125rem, 1.0062rem + 0.8264vi, 1.75rem);
  --space-xl: clamp(1.6875rem, 1.5093rem + 1.2397vi, 2.625rem);
  --space-2xl: clamp(2.25rem, 2.0124rem + 1.6529vi, 3.5rem);
  --space-3xl: clamp(3.375rem, 3.0186rem + 2.4793vi, 5.25rem);
  --space-3xs-2xs: clamp(0.125rem, 0.0656rem + 0.4132vi, 0.4375rem);
  --space-2xs-xs: clamp(0.3125rem, 0.2412rem + 0.4959vi, 0.6875rem);
  --space-xs-s: clamp(0.4375rem, 0.3543rem + 0.5785vi, 0.875rem);
  --space-s-m: clamp(0.5625rem, 0.4199rem + 0.9917vi, 1.3125rem);
  --space-m-l: clamp(0.875rem, 0.7087rem + 1.157vi, 1.75rem);
  --space-l-xl: clamp(1.125rem, 0.8399rem + 1.9835vi, 2.625rem);
  --space-xl-2xl: clamp(1.6875rem, 1.343rem + 2.3967vi, 3.5rem);
  --space-2xl-3xl: clamp(2.25rem, 1.6798rem + 3.9669vi, 5.25rem);
  --space-xs-m: clamp(0.4375rem, 0.2712rem + 1.157vi, 1.3125rem);
  --space-m-xl: clamp(0.875rem, 0.5424rem + 2.314vi, 2.625rem);
  --space-l-2xl: clamp(1.125rem, 0.6736rem + 3.1405vi, 3.5rem);
  --space-xl-3xl: clamp(1.6875rem, 1.0103rem + 4.7107vi, 5.25rem);

  /* Spacing */
  --sr-only-width: 1px;
  --sr-only-height: 1px;
  --sr-only-padding: 0px;
  --sr-only-margin: -1px;
  --sr-only-border-width: 0;
  --sr-only-left: -1000px;
  --sr-only-top: auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--ff-space-grotesk-sans-serif);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: break-word;
}

img {
  height: auto;
  max-width: 100%;
  display: var(--block);
}

body {
  width: 100%;
  min-height: 100vh;
  /* Both these properties only work on MacOs. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Both these properties only work on MacOs */
  background-color: var(--white);
}

button {
  appearance: none;
  background: none;
  border: none;
}

main {
  min-height: 100vh;
}

.interactive-card__container {
  background-image: url("/assets/images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-block-start: 15rem;
  position: relative;
}

.container__image-front {
  position: absolute;
  width: min(285px, 76%);
  z-index: 4;
  left: 1.06rem;
  top: 7.5rem;
}

.card-logo {
  position: absolute;
  top: 17.6px;
  left: 1.19rem;
  width: 3.375rem;
}

.container__image-back {
  position: absolute;
  width: min(285px, 76%);
  right: 1rem;
  top: 2rem;
}

.card-owner-name {
  left: 1.19rem;
}

.card-owner-expiration-date {
  right: 1.29rem;
}

.card-owner-number {
  position: absolute;
  bottom: 3.04rem;
  left: 1.19rem;
  color: var(--white);
  font-size: var(--font-size-4);
  font-weight: var(--fw-500);
  line-height: var(--line-height-normal);
  letter-spacing: var(--letter-spacing-widest);
}

.card-owner-expiration-date,
.card-owner-name {
  position: absolute;
  bottom: 1.29rem;
  color: var(--white);
  font-weight: var(--fw-500);
  font-style: normal;
  font-size: var(--font-size-0);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-widest);
}

.card-owner-cvv {
  position: absolute;
  top: 50%;
  right: 14%;
  color: var(--white);
  font-weight: var(--fw-500);
  font-style: normal;
  font-size: var(--font-size-0);
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  letter-spacing: 0.08038rem;
  transform: translate(10%, -50%);
}

/* Form styling */

form,
section {
  padding-inline: var(--gap-15);
  padding-block-end: 2.81rem;
  padding-block-start: var(--space-3xl);
}

label,
p[class="card-exp-date"] {
  color: var(--very-dark-violet);
  margin-block-end: 0.56rem;
  font-size: var(--font-size-2);
  display: var(--block);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: var(--line-height-normal);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wider);
}

.src-only {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  border-width: var(--sr-only-border-width);
  width: var(--sr-only-width);
  height: var(--sr-only-height);
  left: var(--sr-only-left);
  top: var(--sr-only-top);
  margin: var(--sr-only-margin);
  padding: var(--sr-only-padding);
}

div[class*="form__"]:not(
    div[class~="form__card-exp-date__month"],
    div[class~="form__card-exp-date__year"]
  ) {
  margin-block-end: var(--space-l);
}

div[class~="card-exp-date__wrapper"] {
  display: var(--flex);
  gap: var(--space-2xs-xs);
}

div[class~="card-exp-date-cvc"] {
  display: var(--flex);
  gap: var(--space-s-m);
}

div[class~="form__card-exp-date"] {
  flex-basis: 66%;
}

div[class~="form__card-cvc"] {
  flex-basis: 55%;
}

input {
  appearance: none;
  padding-block: 0.69rem;
  padding-inline-start: var(--gap-10);
  background-color: var(--white);
  border-radius: var(--radius-4);
  border: 1px solid var(--light-grayish-violet);
  display: var(--block);
  width: 100%;
  font: inherit;
  font-weight: var(--fw-500);
  font-size: var(--font-size-2);
  font-style: normal;
  line-height: var(--line-height);
  cursor: pointer;
}

input:focus {
  outline: 1px solid var(--purple);
  outline-offset: 0px;
}

input::placeholder {
  color: var(--very-dark-violet);
  opacity: 0.25;
}

/* Error states */
input[aria-invalid="true"] {
  outline: 1px solid var(--red);
}

p[class~="error"] {
  display: var(--hidden);
}

p[class~="error-show"] {
  display: var(--block);
  color: var(--red);
  font-size: var(--font-size-0);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: var(--line-height-normal);
  margin-top: var(--gap-5);
} 

/* Styling the buttons */
button {
  display: var(--block);
  background-color: var(--very-dark-violet);
  width: 100%;
  text-align: center;
  padding-block: 0.94rem;
  border-radius: var(--radius-4);
  color: var(--white);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-2);
  cursor: pointer;
}

button:focus-visible {
  outline: 1px solid var(--blue);
  outline-offset: 4px;
}

div[class~="loading-spinner"] {
  width: 100px;
  padding-block: 0.5rem;
  margin-inline: auto;
  margin-block-start: 20rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: var(--very-dark-violet);
  }
  25% {
    stroke: var(--red);
  }
  50% {
    stroke: var(--purple);
  }
  75% {
    stroke: var(--blue);
  }
  100% {
    stroke: var(--very-dark-violet);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

section {
  text-align: center;
}

img[alt="complete-icon"] {
  width: 5rem;
  height: 5rem;
  margin-inline: auto;
  margin-block-end: 2.19rem;
}

.feedback-message__heading {
  color: var(--very-dark-violet);
  font-style: normal;
  font-weight: var(--fw-500);
  line-height: var(--line-height-none);
  font-size: 1.75rem;
  letter-spacing: var(--letter-spacing-widest);
  text-transform: uppercase;
  margin-block-end: var(--gap-10);
}

.feedback-message__text {
  color: var(--dark-grayish-violet);
  margin-block-end: var(--gap-30);
  font-size: 1.125rem;
  font-weight: var(--fw-500);
  font-style: normal;
  line-height: var(--line-height);
}

/* Media-query */

/* Tablet Devices with width of 1000px and above */
@media only screen and (min-width: 62.5em) {
  .main {
    display: flex;
  }

  .interactive-card__container {
    background-image: url("/assets/images/bg-main-desktop.png");
    padding: unset;
    position: relative;
  }

  .container__image-front,
  .container__image-back {
    width: 350px;
  }

  .container__image-front {
    left: 0rem;
    top: 9rem;
    transform: translate(27%, 8%);
  }

  .container__image-back {
    top: 23rem;
    left: 3rem;
    transform: translate(27%, 8%);
  }

  .interactive-card__container {
    flex-basis: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .interactive-card__wrapper {
    flex-basis: 80%;
  }

  form,
  section {
    padding: 0px;
    width: 50%;
    margin-inline-start: 18rem;
    margin-block-start: 12rem;
  }
}

/* Desktop Devices with a width of 1300px and above */
@media only screen and (min-width: 81.25em) {
  .container__image-front,
  .container__image-back {
    width: 447px;
  }

  .container__image-front {
    left: 2rem;
    top: 9rem;
  }

  .container__image-back {
    top: 26rem;
    left: 8rem;
  }

  form,
  section {
    margin-left: 22rem;
    margin-block-start: 14rem;
  }

  div[class~="loading-spinner"] {
    margin-block-start: 24rem;
  }

  .card-owner-number {
    bottom: 5rem;
    font-size: 1.75rem;
  }

  .card-owner-expiration-date,
  .card-owner-name {
    bottom: 2.29rem;
  }
}
